<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", { title: locals.title }) %>
    <body>
        <%- include("./partials/navbar", { navbar: locals.navbar }) %>
        <div>
            <% if (Array.isArray(locals.data) && locals.data.length) { %>
                <h1>Returned Procedures: <span><%= locals.data.length %></span></h1>
                <ul>
                    <% locals.data.forEach(({ name, billing_number }) => { %>
                        <li><span><%= name %></span> <span><%= billing_number %></span></li>
                    <% }); %>
                </ul>
            <% } else { %>
                <h1>Data not found</h1>
            <% } %>
            <a href="/search">Return to Search menu</a>
        </div>
    </body>
</html>
